# API
fastapi==0.111.0
uvicorn==0.29.0

# Banco de dados
sqlalchemy==2.0.30
alembic==1.13.1

# Autenticação
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

# Upload de arquivos
python-multipart==0.0.9

# Visão computacional
opencv-python==4.9.0.80
numpy==1.26.4

# QR Code
pyzbar==0.1.9

# Variáveis de ambiente
python-dotenv==1.0.1

# Testes
pytest==8.2.0
httpx==0.27.0

# Configurações
pydantic-settings==2.14.1

# Validação de email
email-validator==2.3.0
